@using eAchizitii.Data
@model IEnumerable<Comanda>

@{

    ViewData["Title"] = "Lista comenzi";

}

<div class="row">
    <div class="col-md-8 offset-2 text-center">
        <p>
            <h3>Lista comenzi aprobate si nealocate</h3>
        </p>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:35px;">@Html.DisplayNameFor(c=>c.Id)</th>
                    <th style="width:200px;">@Html.DisplayNameFor(c=>c.DataComanda)</th>
                    <th style="width:200px;">Persoana de contact</th>
                    <th style="width:200px;">@Html.DisplayNameFor(c=>c.sucursala!.Denumire)</th>
                    <th style="width:350px;">@Html.DisplayNameFor(c=>c.AdresaLivrareId)</th>
                    <th style="width:200px;">@Html.DisplayNameFor(c=>c.StatusComandaId)</th>
                    <th style="width:350px;text-align:center;">Optiuni</th>
                </tr>
            </thead>
            <tbody>

                @{

                    if (Model.Count() != 0)
                    {
                        int indx = 1;

                        foreach (var comanda in Model)
                        {

                            <tr>

                            <td class="align-middle" style="width:35px;">@indx</td>

                            <td class="align-middle" style="width:200px;">
                                @comanda.DataComanda.ToString("dd.MM.yyyy hh:mm tt")
                            </td>

                            <td class="align-middle" style="width:200px;">

                                @foreach (var item in comanda.angajati_comenzi!)
                                {

                                    if (item.rolComanda!.Rol == ApplicationConstantValues.Persoana_contact)
                                    {

                                        @Html.DisplayFor(c=>item.angajat!.Nume)

                                    }
                                }

                            </td>

                            <td class="align-middle" style="width:200px;">
                                @Html.DisplayFor(c=>comanda.sucursala!.Denumire)
                            </td>

                            <td class="align-middle" style="width:350px;">
                                @Html.DisplayFor(c=>comanda.adresaLivrare!.Adresa)
                            </td>

                            <td class="align-middle" style="width:200px;">
                                @Html.DisplayFor(c=>comanda.statusComanda.Status)
                            </td>

                            <td class="align-middle" style="width:350px;">

                                <a class="btn btn-outline-info" asp-action="DetaliiComanda" asp-route-id="@comanda.Id">
                                    <i class="bi bi-eye"></i>
                                        Detalii
                                </a>
                               
                                <a class="btn btn-outline-success" asp-action="PreluareComanda" asp-route-id="@comanda.Id"
                                    asp-route-status = "Preluata">
                                        <i class="bi bi-basket-fill"></i>
                                            Preluare
                                </a>
                                
                            </td>

                        </tr>

                        indx++;
                        
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>