@using eAchizitii.Data
@model Comanda

@{

    ViewData["Title"] = "Detalii comanda";

}

<div class="row text" >
    <div class="col-md-border-4 offset-4">
        <p class="text-center">
            <h3> Detalii comanda</h3>
        </p>
    </div>

    <p>
        <h4> 1. Informatii generale comanda</h4>
    </p>

    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:200px;">@Html.DisplayNameFor(c=>c.DataComanda)</th>
                    <th style="width:200px;">Persoana contact</th>
                    <th style="width:100px;">Telefon</th>
                    <th style="width:400px;">@Html.DisplayNameFor(c=>c.AdresaLivrareId)</th>
                    <th style="width:200px;">@Html.DisplayNameFor(c=>c.StatusComandaId)</th>
                    <th style="width:300px;">Optiuni</th>
                </tr>
            </thead>

            <tbody style="height:auto; overflow-y:hidden;">
                <tr>
                    <td class="align-middle" style="width:200px;">
                        @Model.DataComanda.ToString("dd.MM.yyyy hh:mm tt")
                    </td>

                    @{
                        foreach (var item in Model.angajati_comenzi!)
                        {

                            if (item.rolComanda!.Rol == ApplicationConstantValues.Persoana_contact)
                            {

                                <td class="align-middle" style="width:200px;">@item.angajat!.Nume</td>
                                <td class="align-middle" style="width:100px;">@item.angajat.PhoneNumber</td>

                            }
                        }
                    }
                        
                    <td class="align-middle" style="width:400px;">
                        @Html.DisplayFor(c=>Model.adresaLivrare!.Adresa)
                    </td>
                    
                    <td class="align-middle" style="width:200px;">
                        @Html.DisplayFor(c=>Model.statusComanda.Status)
                    </td>

                    <td class="align-middle" style="width:300px;" >

                        @if (Model.Activ == 1)
                        {

                            @if (User.IsInRole("Director Sucursala"))
                            {
                                <a class="btn btn-outline-success" asp-action="Editare" asp-route-id="@Model.Id">
                                    <i class="bi bi-pencil-square"></i>
                                    Editare
                                </a>
                            
                                @if (Model.MesajeComanda!.Count > 0)
                                {

                                    <a class="btn btn-outline-info" asp-controller="Mesaje" asp-action="TrimiteMesaj" 
                                    asp-route-id="@Model.Id">
                                        <i class="bi bi-envelope"></i>
                                         Mesaje
                                    </a>

                                }
                            }
                        }
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <p>

        <h4> 2. Valoare comanda <b>@Model.Valoare.ToString("#,#.00 LEI")</b></h4>

    </p>

    <p>
        <h4> 3. Emitent comanda</h4>

        @{
            foreach (var item in Model.angajati_comenzi!)
            {

                if (item.rolComanda!.Rol == ApplicationConstantValues.Emitent)
                {
                    
                    <p style="margin-left:50px;">
                        Nume : <b>@item.angajat!.Nume</b>
                    <br>
                        Telefon : <b>@item.angajat!.PhoneNumber</b>
                    </p>


                }
            }
        }
    </p>

    <p>
        <h4> 4. Responsabil achizitii</h4>

        @{
            bool existaRespAchizitii = false;

            foreach (var item in Model.angajati_comenzi!)
            {

                if (item.rolComanda!.Rol == ApplicationConstantValues.Responstabil_achizitii)
                {
                    existaRespAchizitii = true;
                    <p style="margin-left:50px;">
                        Nume : <b>@item.angajat!.Nume</b>
                    <br>
                        Telefon : <b>@item.angajat.PhoneNumber</b>
                    </p>

                }
            }

            if (!existaRespAchizitii)
            {
                
                <p style="margin-left:50px;">Nu este alocat momentan</p>

            }

        }
    </p>

    <p>
        <h4> 5. Observatii comanda</h4>
        <textarea asp-for="@Model.Observatii" disabled style="width:75%; margin-left:50px;height:fit-content; resize:none;"> @Html.DisplayFor(c=>Model.Observatii)</textarea>
    </p>

    <p>
        <h4> 6.Detalii produse: </h4>
    </p>

    <div class="col-md-6 offset-3">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:75px;">Id</th>
                    <th style="width:500px;">Denumire</th>
                    <th style="width:200px;">Cantitate</th>
                    <th style="width:100px;">Um</th>
                </tr>
            </thead>
                                    
            <tbody style="height:150px;">
                @{
                    int indx = 1;

                    for (int i=0;i<Model.produse_comenzi!.Count;i++)
                    {
                                
                        <tr>
                            <td class="align-middle" style="width:75px;">@indx</td>
                            <td class="align-middle" style="width:500px;">@Html.DisplayFor(p=>Model.produse_comenzi[i].produs.Denumire)</td>
                            <td class="align-middle" style="width:200px;">@Html.DisplayFor(p=>Model.produse_comenzi[i].Cantitate) </td>
                            <td class="align-middle" style="width:100px;">@Html.DisplayFor(p=>Model.produse_comenzi[i].produs.Um) </td>
                        </tr>

                        indx++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>